@charset "UTF-8";
/* 共通部分
---------------------------------------------------------------------- */
/* カラーの設定 */
html {
  font-size: 90%;
}

body {
  font-family: serif;
  color: black;
}

.wrapper {
  max-width: 960px;
  padding: 0 4%;
  margin: 0 auto;
}

h2 {
  font-size: 1.7rem;
  margin: 70px 0;
  text-align: center;
}

h3 {
  font-size: 1.17rem;
  margin-bottom: 5px;
}

p {
  line-height: 1.7;
  text-align: justify;
}

a {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

/* ヘッダー
------------------------------------------------------------ */
header {
  height: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  font-size: 2rem;
  line-height: 1.3;
}
.logo p {
  font-size: 0.9rem;
  font-style: italic;
}

.menu ul {
  display: flex;
}
.menu ul li {
  margin-left: 20px;
  font-size: 1.3rem;
}

/* メインビジュアル
----------------------------------------------------------------- */
/* スライダー */
.slider {
  position: relative;
  /* z-index指定のために設定 */
  z-index: 99;
  height: 500px;
}

/* 背景画像設定 */
.slider-item01 {
  background: url(../images/mainvisual-1.jpg);
}

.slider-item02 {
  background: url(../images/mainvisual-2.jpg);
}

.slider-item03 {
  background: url(../images/mainvisual-3.jpg);
}

.slider-item04 {
  background: url(../images/mainvisual-4.jpg);
}

.slider-item {
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*矢印の設定*/
.slick-prev,
.slick-next {
  position: absolute;
  z-index: 100;
  top: 42%;
  cursor: pointer;
  outline: none;
  /* クリックをしたら出てくる枠線を消す */
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  height: 25px;
  width: 25px;
}

.slick-prev {
  /*戻る矢印の位置と形状*/
  left: 2.5%;
  transform: rotate(-135deg);
}

.slick-next {
  /*次へ矢印の位置と形状*/
  right: 2.5%;
  transform: rotate(45deg);
}

/* ドットナビゲーションの設定 */
.slick-dots {
  position: relative;
  /* z-index指定のために設定 */
  z-index: 100;
  text-align: center;
  margin: -50px 0 0 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  /* クリックをしたら出てくる枠線を消す */
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  background: #fff;
}

.slick-dots .slick-active button {
  /* ドットボタンの現在地表示の色 */
  background: #333;
}

/* SNSメニュー
--------------------------------------------------------------- */
/* SNSメニュー（横） */
#sns-menu-side {
  text-align: center;
  float: right;
  position: -webkit-sticky;
  position: sticky;
  top: 32%;
  right: 2%;
  margin-top: 200px;
}
#sns-menu-side li {
  font-size: 20px;
  margin: 15px 10px;
}

.sns-link {
  display: block;
  color: rgba(0, 0, 0, 0.6);
}

/* SNSメニュー（底）を非表示に */
#sns-menu-bottom {
  display: none;
}

/* About
----------------------------------------------------------------- */
#about {
  padding-bottom: 50px;
}
#about article {
  margin-bottom: 50px;
}

/* プロフィール */
.profile {
  display: flex;
  align-items: center;
}
.profile img {
  height: 100px;
  width: 100px;
}
.profile div {
  margin-left: 30px;
}
.profile div br {
  display: none;
}

/* Biography */
.bio-item {
  display: flex;
  padding: 12px 20px;
  border-top: 1px rgba(0, 0, 0, 0.3) solid;
}

.bio-date {
  width: 210px;
}

.bio-info {
  width: calc(100% - 210px);
}

.bio-bottom {
  border-bottom: 1px rgba(0, 0, 0, 0.3) solid;
}

/* Skills */
.skills .programming, .skills .experience {
  margin-bottom: 5px;
}
.skills h4 {
  font-size: 1rem;
  text-decoration: underline;
}

/* Works
------------------------------------------------------------------------------- */
#works {
  padding-bottom: 50px;
}

.work1, .work2 {
  margin-bottom: 100px;
}

.work3 {
  margin-bottom: 50px;
}

.work-item {
  display: flex;
  margin-bottom: 10px;
}

.work-img {
  width: 47%;
  border: 1px solid black;
}

.work-info {
  width: 47%;
  margin-left: 6%;
}
.work-info li {
  list-style: disc;
  line-height: 1.7;
}

.work-description {
  font-style: italic;
}

/* Articles
----------------------------------------------------------------- */
#articles {
  padding-bottom: 50px;
}
#articles article {
  margin-bottom: 50px;
}
#articles .link {
  font-weight: bold;
  font-style: italic;
}

/* article-title */
.articles-title div {
  margin-bottom: 30px;
}
.articles-title img {
  width: 80%;
  border: 1px solid black;
  display: block;
  margin: 0 auto;
}

/* activities */
.act-item {
  display: flex;
  padding: 12px 20px;
  border-top: 1px rgba(0, 0, 0, 0.3) solid;
}

.act-date {
  width: 150px;
}

.act-info {
  width: calc(100% - 150px);
}

.act-bottom {
  border-bottom: 1px rgba(0, 0, 0, 0.3) solid;
}

/* Contact
------------------------------------------------------------------------------------ */
#contact {
  padding-bottom: 100px;
}

/* コンタクトフォーム */
form {
  margin-top: 50px;
}

.contact_form {
  padding-bottom: 10px;
}

label {
  display: inline-block;
  width: 15%;
}

#name, #email, #message {
  display: inline-block;
  border: 1px rgba(0, 0, 0, 0.3) solid;
  width: 84%;
  padding: 8px;
}

#message {
  height: 170px;
  vertical-align: top;
}

.btn {
  display: block;
  width: 200px;
  height: 50px;
  margin: 20px auto 0;
  color: white;
  background-color: black;
}

/* エラーメッセージ */
.error {
  color: red;
  padding-left: 15%;
}

/* Contact（確認画面）
------------------------------------------------------------------------------------ */
.confirm_text {
  text-align: center;
}

.confirm label {
  font-weight: bold;
}
.confirm .contact_form {
  padding-bottom: 20px;
}
.confirm .btn {
  margin: 30px auto 0;
}

/* Contact（送信完了画面）
------------------------------------------------------------------------------------ */
.complete .btn {
  margin-top: 50px;
}

/* トップページへ戻るボタン
------------------------------------------------------------------------------------ */
#page-top {
  width: 40px;
  font-size: 30px;
  text-align: center;
  position: fixed;
  right: 2%;
  bottom: -50px;
  z-index: 2;
}

/* フッター
------------------------------------------------------------------------------------- */
footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 0.6rem;
}

/* PC画面小（width:1100px以下）
======================================================================================= */
@media (max-width: 1100px) {
  /* SNSメニュー
  ----------------------------------------------------------------------------------------- */
  /* SNSメニュー（横）を非表示に */
  #sns-menu-side {
    display: none;
  }

  /* SNSメニュー（底） */
  #sns-menu-bottom {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  #sns-menu-bottom ul {
    display: flex;
    justify-content: space-around;
  }
  #sns-menu-bottom ul li {
    font-size: 1.5rem;
  }
}
/* タブレット・スマホ（width:768px以下）
======================================================================================= */
@media (max-width: 768px) {
  /* 共通部分
  -------------------------------------------------------------------------------------- */
  html {
    font-size: 100%;
  }

  h2 {
    margin: 70px 0 40px;
  }

  /* ヘッダー
  -------------------------------------------------------------------------------------- */
  header {
    padding-top: 40px;
    flex-direction: column;
  }

  .logo h1 {
    font-size: 1.7rem;
    text-align: center;
  }

  .menu {
    width: 100%;
    border-top: 1px rgba(0, 0, 0, 0.3) solid;
    border-bottom: 1px rgba(0, 0, 0, 0.3) solid;
  }
  .menu ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .menu ul li {
    margin-left: 0;
    text-align: center;
    font-size: 1rem;
  }
  .menu ul li a {
    display: block;
    padding: 10px 0;
  }

  .about, .works {
    border-bottom: 1px rgba(0, 0, 0, 0.3) solid;
  }

  .about, .articles {
    border-right: 1px rgba(0, 0, 0, 0.3) solid;
  }

  /* About
  ---------------------------------------------------------------------------- */
  #about {
    padding-bottom: 30px;
    /* skills */
  }
  #about .skills {
    margin-bottom: 0;
    /* Worksのmarginと被るためゼロに */
  }

  /* プロフィール */
  .profile {
    flex-direction: column;
  }
  .profile img {
    margin-bottom: 20px;
  }
  .profile div {
    margin-left: 0px;
  }
  .profile div h3 {
    text-align: center;
  }
  .profile div h3 br {
    display: inline;
  }

  /* Biography */
  .bio-item {
    display: block;
    padding: 12px 4%;
  }

  .bio-info {
    width: 100%;
  }

  /* Works
  ------------------------------------------------------------------------------- */
  #works {
    padding-bottom: 30px;
  }

  .work1, .work2 {
    margin-bottom: 70px;
  }

  .work3 {
    margin-bottom: 0;
    /* Articlesのmarginと被るためゼロに */
  }

  .work-item {
    display: block;
  }

  .work-img {
    width: 100%;
    margin-bottom: 10px;
  }

  .work-info {
    width: 100%;
    margin-left: 0;
  }
  .work-info li {
    padding: 5px 0;
    list-style: inside;
  }

  /* Articles
  ----------------------------------------------------------------- */
  #articles {
    padding-bottom: 30px;
    /* Back Numbers */
  }
  #articles .back-numbers {
    margin-bottom: 0;
    /* Contactのmarginと被るためゼロに */
  }

  /* activities */
  .act-item {
    display: block;
    padding: 12px 4%;
  }

  .act-info {
    width: 100%;
  }

  /* Contact
  ---------------------------------------------------------------------------------------- */
  #contact {
    padding-bottom: 70px;
  }

  label {
    width: 100%;
  }

  #name, #email, #message {
    width: 100%;
  }

  /* エラーメッセージ */
  .error {
    padding-left: 0;
  }

  /* Contact（確認画面）
  ------------------------------------------------------------------------------------ */
  .confirm_text {
    text-align: justify;
  }
}
/* リンクの設定
=============================================================================================== */
/* hoverが使える端末（PC） */
@media (hover: hover) {
  .link:hover {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: underline;
  }

  .sns-link {
    transition: 0.5s;
  }
  .sns-link:hover {
    color: black;
    transform: scale(1.3);
  }

  .img-link:hover {
    opacity: 0.6;
  }

  .btn:hover {
    background-color: white;
    color: black;
    border: 1px black solid;
  }
}
/* hoverが使えない端末（スマホ・タブレット） */
@media (hover: none) {
  .link:active {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: underline;
  }

  .sns-link {
    transition: 0.25s;
  }
  .sns-link:active {
    color: black;
    transform: scale(1.3);
  }

  .img-link:hover {
    opacity: 0.6;
  }

  .btn:active {
    background-color: white;
    color: black;
    border: 1px black solid;
  }
}
/*# sourceMappingURL=style.css.map */